<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Epicform</title>
    <link
      rel="icon"
      href="https://res.cloudinary.com/dvkfb7uw0/image/upload/v1615211162/favicon_tu4gvk.ico"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <%- styleTag %> <%- linkTag %>
  </head>
  <body>
    <noscript> You need to enable JavaScript to run epicform. </noscript>
    <%- bodyHTML %> <%- reduxTag %> <%- scriptTag %>
  </body>
</html>
