<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SSR isomorphic</title>
    <link rel="icon" href="favicon.ico" />
    <%- styleTag %> <%- linkTag %>
  </head>
  <body>
    <%- bodyHTML %> <%- scriptTag %> <%- reduxTag %>
  </body>
</html>
